/WebApp.Music/packages
/WebApp.Music/WebApp.Music/bin
/WebApp.Music/WebApp.Music/obj
/WebApp.Music/WebApp.Music.BL/bin
/WebApp.Music/WebApp.Music.BL/obj
/WebApp.Music/WebApp.Music.DAL/bin
/WebApp.Music/WebApp.Music.DAL/obj
/WebApp.Music/WebApp.Music/App_Data/MusicDB.mdf
/WebApp.Music/WebApp.Music/App_Data/MusicDB_log.ldf
