<div ng-controller="musicCtrl">
    <div class="divList">
        <table class="table table-hover">
            <tr>
                <td><b>Id</b></td>
                <td><b>Name Album</b></td>
                <td><b>Year</b></td>
            </tr>
            <tr ng-repeat="album in albums">
                <td>{{album.Id}}</td>
                <td>{{album.Name}}</td>
                <td>{{album.Year}}</td>
                <td>
                    <span ng-click="showTracks(album.Id)" class="btn btn-primary">Show</span>
                    <span ng-click="editAlbum(album)" class="btn btn-primary">Edit</span>
                    <span ng-click="deleteAlbum(album)" class="btn btn-danger">Delete</span>
                </td>
            </tr>

        </table>
    </div>

    @*<ng-include src="'Home/AlbumList'"></ng-include>*@
    <div class="content" ng-show="loaded">
        <table class="table">
            <tr>
                <th>
                    trackID
                </th>
                <th>
                    Artist
                </th>
                <th>
                    Title
                </th>
                <th>
                    Time
                </th>
                <th></th>
            </tr>

            <tr ng-repeat="track in tracks">
                <td>
                    {{track.Id}}
                </td>
                <td>
                    {{track.Artist}}
                </td>
                <td>
                    {{track.Title}}
                </td>
                <td>
                    {{track.Time}}
                </td>
                <td>
                    <a href="javascript:void(0);" ng-click="deleteTrack(track)">Delete</a>
                </td>
            </tr>
        </table>
    </div>

    @*<ng-include src="'@Url.Action("TrackList", "Home")'"></ng-include>*@
    <span ng-click="AddAlbumDiv()" class="btn btn-default">
        Add Album
    </span>
    <div ng-show="divAlbum">
        <p class="divHead"></p>

        <table class="table">
            <tr>
                <td><b><i>{{Action}} Album</i></b></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Id</b></td>
                <td>
                    <input type="text" disabled="disabled" ng-model="albumId" />
                </td>
                <td><b>Name</b></td>
                <td>
                    <input type="text" ng-model="albumName" />
                </td>
            </tr>
            <tr>
                <td><b>Year</b></td>
                <td>
                    <input type="text" ng-model="albumYear" />
                </td>

            </tr>
        </table>
        <input type="button" class="btn btn-default" value="addTrack" ng-click="addNewEmptyTrack()" />
        <div class="control-group" ng-repeat="track in tracks">
            <div class="control-group" ng-repeat="(key,value) in track" ng-if="key!='Album' && key!='AlbumId'">
                <label class="control-label">{{key}}</label>
                <div class="controls">
                    <input type="text" ng-model="track[key]" />
                </div>
            </div>
            <hr />
        </div>
        <div>
            <input type="button" class="btn btn-default" value="Save" ng-click="AddUpdateAlbum(tracks)" />
            <input type="button" class="btn btn-danger" value="Cancel" ng-click="Cancel()" />
        </div>
    </div>

</div>