@{
    Layout = null;
}
<div class="content" ng-show="loaded">
    <table class="table">
        <tr>
            <th>
                trackID
            </th>
            <th>
                Artist
            </th>
            <th>
                Title
            </th>
            <th>
                Time
            </th>
            <th></th>
        </tr>

        <tr ng-repeat="track in tracks">
            <td>
                {{track.Id}}
            </td>
            <td>
                {{track.Artist}}
            </td>
            <td>
                {{track.Title}}
            </td>
            <td>
                {{track.Time}}
            </td>
            <td>
                <a href="javascript:void(0);" ng-click="deleteTrack(track)">Delete</a>
            </td>
        </tr>
    </table>
</div>
